.conDiv {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.leftConDiv {
    width: 240px;
    height: 100px;
    position: relative;
}

.leftConDiv > button {
    width: 240px;
    height: 40px;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 5px;
    color: black;

    cursor: pointer;

    background-color: white;
    border: 1px solid green;
    
}

.leftConDiv > button:hover {
    background-color: #69F0AE;
}

.rightConDiv {
    position: relative;
}

.listDiv {
    position: relative;
    display: flex;
    margin-top: 30px;
    align-items: center;
}