.conDiv {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;

}

.leftConDiv {
    margin: 0 auto;
}

.leftConDiv > button {
    width: 225px;
    height: 40px;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 5px;
    color: black;

    cursor: pointer;

    background-color: white;
    border: 1px solid green;
    
}

.leftConDiv>button:hover {
    background-color: #69F0AE;
}

.rightConDiv {
    width: 900px;
}

.listDiv {
    position: relative;
    display: flex;
    margin-top: 30px;
    align-items: center;
}