.header {
    display: flex;
    justify-content: center;
}


.navBar {
    background-color: #19221f;
    display: flex;
    justify-content: space-between;
    /* space-between */
    align-items: center;
    padding: 29px 20px;
    width: 100%;
    min-width: 375px;
}

.navBar>div {
    display: flex;   
}

.navBar>div>h1 {
    padding-right: 15px;
    font-family: 'Arita-dotum-Medium';
}

.logoImg {
    width: 45px;
    height: 50px;
}
/* 
.navBar_Login {

} */
/* 
@media screen and (max-width:375px) {
    .navBar {
        justify-content: space-between;
        display: none;
    }
    
} */