/* .header {
    display: flex;
    justify-content: center;
}


.navBar {
    background-color: #19221f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 20px;
    width: 100%;
    min-width: 375px;
} */

.header {
    display: flex;
    justify-content: center;
    /* background-color: #19221f; */
    background-color: #19221f;
}


.navBar {
    background-color: #19221f;
    display: flex;
    justify-content: space-between;
    /* space-between */
    align-items: center;
    padding: 29px 20px;
    /* width: 1920px; */
    max-width: 1200px;
    width: 80%;
    align-items: center;
    padding: 0px 25px;
    align-content: center;
    min-width: 375px;
}

.navBar>div {
    margin-top: 30px;
    display: flex;   
}

.navBar>div>h1 {
    padding-right: 15px;
    font-family: 'Arita-dotum-Medium';
}

.logoImg {
    width: 70px;
    height: 70px;
}
/* 
.navBar_Login {

} */
/* 
@media screen and (max-width:375px) {
    .navBar {
        justify-content: space-between;
        display: none;
    }
    
} */

.myPage {
    font-size: 25px;
}