.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navDiv{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-direction: column;

}
.navSpan {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.RegiBtn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.navSelect {
    width: 118px;
    height: 30px;
    border: 1px solid #00E676;
    color: #00E676;

    position: relative;
}

.navBomMenu {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navAli {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.navAli > button {
    position: relative;
    outline: none;
    margin-left:3px;
    padding: 0 auto;
    margin: 0px 2px 0px 0px;

    background:transparent;

    border-left-width:0; 
    border-right-width:0; 
    border-top-width:0;
    border-bottom-width:1;

    cursor: pointer;

}

.navAli > button:hover {
    font-weight: bold;
}