.containerDiv {
    width: 100%;

    margin: 0px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: relative;
}

.containerDiv>button {
    width: 200px;
    font-size: 30px;
    margin-right: 40px;
}

.categoryBox {
    border: none;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.categoryBox:hover {
    color: black;
}