.coffeeMenuDiv {
    position: relative;

    border-bottom: 1px solid black;
}

.coffeeIcon {
    color: #3FC275;
}

.dessertIcon {
    color: #3FC275;
}

.coffeeDiv {
    width: 350px;
    height: 100px;
    border: 1px solid black;
    
    flex-direction: column;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-right: 30px;
    margin-left: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.coMenuDiv {
    width: 80px;
    height: 80px;
    border: 1px solid #EEE;
    margin-left: -250px;
    margin-top: 10px;
}

.coffeeDiv>p{
    margin-top: -100px;
    margin-left: 20px;
}

.plusCoMenuDiv {
    width: 350px;
    height: 100px;
    border: 1px solid black;
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 100px; 
    text-align: center;
}