.containerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -300px;
    position: relative;
}

.containerDiv>button {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    font-family: 'Arita-dotum-Medium';
}

.categoryBox {
    border: none;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.categoryBox:hover {
    color: black;
}