/* 유저/사장 페이지 */
.conDiv2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -300px;
}

.inputBox2 {
    width: 290px;
    height: 40px;
}

.spanLock2 {
    font-size: 20px;
    margin: 0px;
    padding: -10px;
    margin-left: -20px; 
}

.lock2 {
    color: #19221F;
    font-size: 15px;
}

.checkText2{
    font-size: 10px;
    color:red;
    margin-bottom: 30px;
}

.changeBtn2 {
    position: relative;
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
    cursor: pointer;
}