.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.2);
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.modal > section {
    width: 450px;
    height: 800px;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.1s;
    overflow: hidden;
}

.modal > section > footer {
    padding: 12px 16px;
    text-align: right;
}

.modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
}

.modal.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
}

.user {
    display: none;
}

.owner {
    display: flex;
    flex-direction: column;
}


@keyframes modal-show {
    from {
        opacity: 1;
        margin: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
